/* Header and Footer */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;  /* Situate the background behind the content */

    background-image: url('images/bgimg.jpg');
    background-size: cover;

    /* Make the background image lighter */
    filter: brightness(1);
}


.head header {
    color: #333333; /* Dark Grey */
    text-shadow: 2px 2px 4px #5d5858; /* Text Shadow */
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding: 20px,;  /* Increase padding to make them bigger */
    font-family: 'Monotype Corsiva', cursive;  /* Custom font */
    font-size: 50px;  /* Large font size */
    height: 100px;  /* Increased height */
    flex-wrap: wrap;
}

.header {
    font-family: 'Monotype Corsiva', cursive;
    font-size: 50px;
    height: 100px;
    padding: 20px;
}

/* Footer */
.foot footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    justify-content: center;
    height: 45px;
    padding: 20px;  
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* PAGE CONTAINER */
.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;  /* Full viewport height */
}

/* MAIN CONTAINER */
.main-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;  /* Horizontal layout */
    flex: 1;  /* Take up all available space */
}

/* Left Navbar */
.left-navbar {
    height: fit-content;
    width: 300px;  /* Fixed width */
    background-color: #528552;
    color: white;
    flex-shrink: 0; /* Don't allow it to shrink */
    display: flex;
    flex-direction: column;
    justify-content: space-between;  /* Evenly space buttons */
    height: 100%;  /* Take up all available space */
    border-radius: 20px;
}

/* Left Navbar */
.left-navbar a {
    justify-content: center;
    display: flex;
    padding: 18px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #444;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    flex-wrap: wrap;
}

.left-navbar a:hover {
    background-color: #555;
}

.nav-button {
    flex-grow: 1;  /* Allow buttons to grow to fill space */
    margin: 5px;  /* Add a little margin for separation */
    padding: 10px;  /* Add padding for better spacing */
    background-color: darkslategrey;
}

/* CONTENT */
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  /* Center vertically */
    height: 100%;  /* Take full available height */
}

.course-box a{
    color: #2f1401;
    width: 300px;  /* Fixed width for better look */
    height: 150px;  /* Fixed height */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #000;
    border-radius: 16px;  /* Increased rounded corners for a modern look */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);  /* Professional box shadow for elevated look */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Smooth transition for hover effect */
    margin: 2vw;
    text-decoration: none;
    opacity: 0.8;
    font-family: "Lexend Deca";
    font-weight: bolder;
    text-shadow: 1px 1px 2px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
}



.course-box a:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  /* Increased shadow on hover for interactive feel */
}


/* CHAT ICON */
.chat-icon {
    position: fixed;  /* Fixed position */
    bottom: 60px;  /* Above the footer */
    right: 20px;  /* Right side of the page */
    z-index: 1000;  /* Above other elements */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Subtle box shadow */
    border-radius: 50%;  /* Fully rounded to make it look like an icon */
    transition: transform 0.3s ease, box-shadow 0.3s ease;  /* Smooth transition for hover effect */
}

.chat-icon:hover {
    transform: scale(1.2);  /* Slightly scale up on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);  /* Increased shadow on hover for interactive feel */
}


/* RESPONSIVE */
@media only screen and (max-width: 1023px) {
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;  /* Situate the background behind the content */

        background-image: url('images/bgimg.jpg');
        background-size: cover;
        background-position: center;

        /* Make the background image lighter */
        filter: brightness(1);
    }
    .page-container {
        height: auto;  /* Let it adjust */
    }
    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;  /* Center items */
        margin-left: 0;  /* Remove extra margin */
        flex-wrap: wrap;
    }
}


@media (max-width: 768px) {
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;  /* Situate the background behind the content */

        background-image: url('images/bgimg.jpg');
        background-size: cover;
        background-position: center;

        /* Make the background image lighter */
        filter: brightness(1);
    }
    .main-container {
        flex-direction: column;  /* Stack items vertically */
    }
    .left-navbar {
        width: 100%;
        box-sizing: border-box;  /* To ensure padding doesn't affect width */
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  /* Center items */
        margin-left: 0;  /* Remove extra margin */
    }
    .course-box {
        margin-top: 8vh;  /* Space between navbar and course boxes */
        width: 400px;
    }
}

@media only screen and (max-width: 320px) {
    .page-container {
        height: auto;  /* Let it adjust */
    }
    .left-navbar {
        width: 100%;
    }
    .footer {
        position: static;
        bottom: auto;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  /* Center items */
        margin-left: 0;  /* Remove extra margin */
    }
}
@media only screen and (max-width: 320px) {
    .page-container {
        height: auto;  /* Let it adjust */
    }
    .left-navbar {
        width: 100%;
    }
    .footer {
        position: static;
        bottom: auto;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  /* Center items */
        margin-left: 0;  /* Remove extra margin */
    }
}

@media only screen and (max-width: 375px) {
    .left-navbar {
        width: 100%;
    }
    .footer {
        position: static;
        bottom: auto;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  /* Center items */
        margin-left: 0;  /* Remove extra margin */
    }
}



@media only screen and (min-width: 1024px) {
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;  /* Situate the background behind the content */

        background-image: url('images/bgimg.jpg');
        background-size: cover;
        background-position: center;

        /* Make the background image lighter */
        filter: brightness(1);
    }
    .left-navbar {
        height: fit-content;
        width: 300px;
    }
    .footer {
        position: absolute;
        bottom: 0;
    }
    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;  /* Center items */
        margin-left: 0;  /* Remove extra margin */
        flex-wrap: wrap;

    }
}

button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}


/* ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= */

/* studentinfo.html STYLES */
fieldset{
    min-width: 450px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
}
input{
    text-align: center;
    border-radius: 8px;
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Lexend Deca";
}
input#male, input#female, input#other {
  height: auto;
  position: absolute;
  left: 90px;
}

textarea{
    
    border-radius: 8px;
    font-family: "Lexend Deca";
}
label{
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Lexend Deca";
    cursor: pointer;
}
.gender-label {
    
    position: absolute;
    left: 90px;
  }
legend, h2{
    text-align: center;
    font-family: "Lexend Deca";
}
.readonly-list {
    background: #ffffff85;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Lexend Deca";
    width: auto;
}
/* remove if wrong */
.simain-container {
    display: flex;
    flex-direction: row;
}

.container {
    margin-left: auto;  /* Pushes the container to occupy remaining space */
    margin-right: auto; /* Centers the container */
    width: 30%;  /* You can adjust this width */
}

button[type="submit"]{
    font-family: "Lexend Deca";
    background-color: #007BFF;  /* Blue */
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button[type="submit"]:hover {
    background-color: #1673d5;  /* Darker blue */
    transform: translateY(-2px);
  }
  
  button[type="submit"]:active {
    background-color: #0153ab;  /* Even darker blue */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
  }


@media (max-width: 768px) {
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;  /* Situate the background behind the content */

        background-image: url('images/bgimg.jpg');
        background-size: cover;
        background-position: center;

        /* Make the background image lighter */
        filter: brightness(1);
    }
    .simain-container {
        flex-direction: column;  /* Stack items vertically */
    }
    .left-navbar {
        width: 100%;
        box-sizing: border-box;  /* To ensure padding doesn't affect width */
    }
    .container{
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }
}
/* ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= ================================================================= */
/* studentinfo.html STYLES */
/* New professional styles for Exams and Assignments */
.sepage-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#exams, #assignments {
    max-height: 400px;  /* Maximum height */
    overflow-y: auto;   /* Enable vertical scrollbar */
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}



#exams::-webkit-scrollbar, #assignments::-webkit-scrollbar {
    width: 8px;
}

#exams::-webkit-scrollbar-thumb, #assignments::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);  /* Transparent black */
}

/* Button Hover Effect with Transition */
.button-container button {
    background-color: #4c61af; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 12px 24px;
    transition: all 0.3s ease;
    font-family: "Lexend Deca";
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}
.button-container {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #ffffff4a;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

/* Active Button Highlight */
.button-container button.active {
    background-color: #FFD700;  /* Gold */
    color: black;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.button-container button:hover {
    background-color: #45a049;
    box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}

/* Exams and Assignments Sections with Shadow and Font */
.exam-detail, .assignment-detail {
    min-width: 650px;
    background-color: #f1f1f175;
    margin: 30px 0;
    padding: 4px 15px 30px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: "Lexend Deca";
    transition: all 0.3s ease, box-shadow 0.3s ease;
    column-gap: 10px;
}

.exam-detail ul, .assignment-detail ul{
    font-size: small;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.exam-detail li, .assignment-detail li {
    flex: 1;
    text-align: center;
    padding: 2px;
    border-right: 1px solid black;
    
}
.exam-detail li:last-child , .assignment-detail li:last-child  {
    border-right: none;
}

.exam-detail:hover, .assignment-detail:hover {
    transform: translateY(-10px) !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;  /* Increased shadow on hover for interactive feel */
}

/* Text Styles with Font */
.exam-detail h3, .assignment-detail h3 {
    font-size: 1.2em;
    font-weight: bold;
}

.exam-detail a, .assignment-detail a {
    font-family: "Lexend Deca";
    color: #000;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
}

.secontent{
    margin-left: 40px;
    margin-right: 10px;
}

.semain-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;  /* Situate the background behind the content */

        background-image: url('images/bgimg.jpg');
        background-size: cover;
        background-position: center;

        /* Make the background image lighter */
        filter: brightness(1);
    }
    .semain-container {
        row-gap: 35px;
        flex-direction: column;  /* Stack items vertically */
    }
    .left-navbar {
        width: 100%;
        box-sizing: border-box;  /* To ensure padding doesn't affect width */
    }
    .secontent{
        display: flex;
        flex-direction: row;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #exams{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
    }
}

@media (min-width: 1023px) {
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;  /* Situate the background behind the content */

        background-image: url('images/bgimg.jpg');
        background-size: cover;
        background-position: center;

        /* Make the background image lighter */
        filter: brightness(1);
    }
    .semain-container {
        row-gap: 35px;
        flex-direction: row;  /* Stack items vertically */
    }
    .left-navbar {
        box-sizing: border-box;  /* To ensure padding doesn't affect width */
    }
    .secontent{
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #exams{
        display: flex;
        flex-direction: column;
        flex-wrap:nowrap;
        justify-content: center;
    }
}